
@font-face {
    font-family: 'Norsebold';
    src: url('fonts/Norsebold.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}
*{
    margin: 0;
    padding: 0;
}
html, body {
    height: 100%;
    background-color: black;
}
.container{
    display: grid;
    grid-template-columns: 1fr 2fr 3fr 1fr;
    
   padding: 5px;
    gap:0PX;
    height: 100vh;
   
}
.container div{
    padding: 5px;

}
.box2{
    overflow: hidden;
    position: relative;
    padding: 0;
}
.box2 img.back-img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    display: block;
}

.box4{
    background-color: black;
}
.box1{
    background-color: black;
}

.box2 {
    position: relative;
    overflow: hidden;
    padding: 0;
}
.box3{
    background-color: #f1f1f1;
}


.box2 img.back-img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    display: block;
}


.centered-content {
    position: absolute;
    top: 30%;           
    left: 0;           
    width: 100%;        
    transform: translateY(-50%); 
    
  
    background-color: rgba(0, 0, 0, 0.4); 
    padding: 20px 0;    
    z-index: 10;
}


.centered-content p {
    display: flex;
    align-items: center;
    justify-content: center; 
    gap: 20px;
    
    font-family: 'Norsebold', sans-serif;
    font-size: clamp(2rem, 5vw, 4rem);
    color: white;
    text-transform: uppercase;
    letter-spacing: 2px;
}


.logo-img {
    height: 80px; 
    width: auto;
}
.box3-text{
    padding-top: 60px;
    padding-left: 20px;
}
.box3-text1{
    padding-top: 20px;
    padding-left: 20px;
    padding-bottom: 30px;
}
.form-container{
   background-color: white;
   padding: 2rem;
   color: #333;
}
.form-container form{
    padding-top: 20px;
    padding-left: 20px;
}
.form-container h3{
   margin-bottom: 1.5rem;
   font-family: 'Norsehold',sans-serif;  
}
form{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1.5rem 2rem;
}
.form-group{
    display: flex;
    flex-direction: column;
    gap: 5px;
}
button{
    background-color: #596D48;
    padding: 5px;
    border: none;
    color: white;
    margin: 20px;
   
}
label{
    font-size: 0.8rem;
    text-transform: uppercase;
    letter-spacing: 1px;
   
}
input{
    padding: 8px;
    border-radius: 4px;
    width: 100%;
    border: 1px solid #E5E7EB;
}
input:focus{
    outline: none;
    border-color: #2563EB;
    box-shadow: 0 0 5px rgba(37, 99, 235, 0.2);
}

.link-text{
    margin-left: 20px;
}